@import '../../sass/base/typography';

.resume {
  &-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;

    & h4 {
      color: #0563bb;
    }

    & h5 {
      background: #f7f8f9;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}

.resume .resume-item {
}

.resume .resume-item h4 {
}

.resume .resume-item h5 {
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}

.paragraph--sub li:last-child {
  text-transform: uppercase;
  font-weight: 700;
}
