* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Loto', sans-serif;
  font-weight: 400 !important;
  line-height: 1.7 !important;
  color: $color-grey-dark !important;
  padding: 3rem !important;
}
