@import '../abstruct/variables';

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 3rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
  }
  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.85rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    -webkit-animation-name: moveInRight;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-clip: text;
  color: #45505b;
  -webkit-background-clip: text;
  //   background-image: linear-gradient(
  //     to right,
  //     $color-primary-light,
  //     $color-primary-dark
  //   );
  transition: all 0.2s;
  letter-spacing: 0.2rem;

  //   &:hover {
  //     transform: skewY(2deg) skewX(15deg) scale(1.1);
  //     text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  //   }

  &--sub {
    font-size: 2.5rem;
  }
}

.heading-teritiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

  &--sub {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &--sub {
    font-size: 1.2rem;
  }
}
