@import '../../sass/abstruct/variables';

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase !important;
    text-decoration: none !important;
    padding: 1.5rem 5rem !important;
    display: inline-block !important;
    border-radius: 10rem !important;
    transition: all 0.2s !important;
    position: relative !important;
    font-size: $default-font-size !important;

    //button
    border: none !important;
    cursor: pointer !important;
  }

  &:hover {
    transform: translateY(-0.3rem) !important;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2) !important;

    &::after {
      transform: scaleX(1.4) scaleY(1.6) !important;
      opacity: 0 !important;
    }
  }
  &:active,
  &:focus {
    outline: none !important;
    transform: translateY(-0.1rem) !important;
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2) !important;
  }

  &--white {
    background-color: $color-white !important;
    color: $color-grey-dark !important;

    &::after {
      background-color: $color-white !important;
    }
  }

  &--blue {
    background-color: $color-blue !important;
    color: $color-white !important;

    &::after {
      background-color: $color-blue !important;
    }
  }

  &--green {
    background-color: $color-primary !important;
    color: $color-white !important;

    &::after {
      background-color: $color-primary !important;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animate {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size !important;
    color: $color-primary !important;
    display: inline-block !important;
    text-decoration: none !important;
    border-bottom: 1px solid $color-primary !important;
    padding: 3px !important;
    transition: all 0.2s !important;
  }
  &:hover {
    background-color: $color-primary !important;
    color: $color-white !important;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2) !important;
    transform: translateY(-2px) !important;
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2) !important;
    transform: translateY(0) !important;
  }
}
