@import '../../sass/abstruct/variables';

.modal {
  &__left {
    width: 33.333333%;
    display: table-cell;
  }
  &__right {
    width: 63.6666667;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // -moz-column-count: 2;
    // -moz-column-gap: 4rem;
    // -moz-column-rule: 1px solid $color-grey-light-2;

    // column-count: 2;
    // column-gap: 4rem;
    // column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &__close {
    position: absolute;
    top: 2.5rem;
    right: 2.54rem;
    font-size: 3rem;
    color: $color-grey-dark;
    text-decoration: none;
    line-height: 1;
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }
  }

  & ul {
    list-style: none;
  }
}
