@import '../../sass/base/typography';

.skills .skill-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.skills .progress {
  height: 5rem;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 0.9rem 0;
  margin: 0 0 0.6rem 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}
