@import '../../sass/abstruct/variables';
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.navigation {
  &__drawer {
    &-mask {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      opacity: 0;
      background-color: rgba($color-black, 0.4);
      transition: opacity 0.3s linear, height 0s ease 0.3s;
    }

    &-open &-mask {
      opacity: 1;
      height: 100%;
      visibility: visible;
    }
  }
  &__nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__nav > &__list > &__item {
    position: relative;
    white-space: nowrap;
  }

  &__nav &__link {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;

    & i {
      font-size: 20px;
    }

    & span {
      padding: 0 5px 0 7px;
      color: #45505b;
    }
  }

  &__nav &__link:hover,
  &__nav .active > &__link,
  &__nav &__item:hover > &__link {
    color: $color-white;
    background: #0563bb;
    transition: all 0.3s ease-in-out;

    span {
      color: $color-white;
    }
  }

  &__nav &__link:hover {
    width: 100%;
    color: $color-white;
    transform: translateX(1rem);
    span {
      opacity: 1;
      visibility: visible;
    }
  }

  /* Mobile Navigation */

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1000;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1.5rem 5rem rgba($color-black, 0.2);
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__mobile-active {
    left: 0 !important;
  }

  &__mobile-active &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__mobile-active &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  &__mobile-active &__button &__icon {
    background-color: transparent;
  }
}

@media (min-width: 992px) {
  .navigation__nav {
    width: 125px;

    & .navigation__link {
      width: 56px;

      & span {
        opacity: 0;
        visibility: hidden;
        color: #fff;
      }
    }
  }
}

@media (min-width: 992px) {
  .navigation__button {
    opacity: 0;
    visibility: hidden;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}
